*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: auto;
  background-image: url("../assets/cloud.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgba(0, 0, 0, 0.8);
}
.container{
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 220,0.4);
  box-shadow: 5px 5px 10px #111111, -5px -5px 10px #080808;
}
.items{
  width: 100%;
}
h1{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
}
p{
  font-weight: 800;
  color: white;
}
#city-input{
  float:left;
  width:75%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: white;
  transition: transform 1s;
  padding: 10px;
  font-size: 17px;
  
}
#city-input:focus{
  background-color: transparent;
  transform: scale(1.1);
  outline: none;
  box-shadow: 5px 5px 10px #080808;
}
#city-input::placeholder{
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px
}
button{
  width:20%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  padding: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(145,163,176); 
}
button[type="submit"]{
  float:right;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.7);
}
button[type="submit"]:hover{
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
}

#city-form::after {
  content: "";
  clear: both;
  display: table;
}
#degrees{
  font-size: 3em;
}
#city{
  margin-top: 20%;
  font-size: 4.5em;
  color:rgba(0, 0, 0, 0.8);
}
#time{
  font-size: 0.8em;
}
img{
  width: 100px;
  height: 100px;
  display: inline-block;
}
#weather-description{
  font-size: 1.5em;
  font-weight: 800;
}
h4{
  text-align: center;
}
table{
  border: 2px solid black;
  border-collapse: collapse;
}
table tr{
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  #vote{
    margin-bottom: 20px;
  }
}
/* styling for screen sizes above 768px */
@media screen and (min-width: 768px) {
  html {
    height: 100%;
  }
  body{
    height: 100%;
  }
  .container{
  width: 100%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .right{
    border-left: 2px solid rgba(8, 8, 8, 0.4);
    border-top: none;
  }
  #city-form{
    width: 50%;
  }
  .weather-summary{
    position: absolute;
    bottom: 0;
  }
  #city{
    color:white;
  }
  table{
    margin-top: 10%;
    border: none;
    margin-left: 10%;
  }
  h4{
    margin-top: 1em;
    color: white;
  }
} 
